<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Feedback</title>
    <link rel="stylesheet" type="text/css" href="/styles/styles.css" />
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="/feedback">Feedback</a></li>
        <li><a href="/customers">Customers</a></li>
        <li><a href="/tickets">Support Tickets</a></li>
        <li><a href="/logout">Logout</a></li>
      </ul>
    </nav>
    <h1>Feedback</h1>
    <h1>Palaute</h1>
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Feedback</th>
          <th>Received</th>
        </tr>
      </thead>
      <tbody>
        <% feedback.forEach(item => { %>
        <tr>
          <td><%= item.id %></td>
          <td><%= item.name %></td>
          <td><%= item.feedback %></td>
          <td><%= item.arrived %></td>
        </tr>
        <% }) %>
      </tbody>
    </table>
  </body>
</html>
